.list-fields
  .field
    = f.hidden_field :_destroy , class: 'remove_fields'
    = f.label :list_id
    = f.collection_select :list_id, List.all, :id, :name, { prompt: true }

  .field{class: 'list-fields-multi'}
    = f.label :multiple, "Allow multiple?"
    = f.check_box :multiple
