= form_for @collection, html: {class: 'focus-first'} do |f|
  = errors_for(@collection)

  %fieldset
    .field
      = f.label :name
      = f.text_field :name
    - if superuser?
      .field
        = f.label :slug
        = f.text_field :slug

  %fieldset
    %legend Properties

    #properties
      = f.fields_for :properties do |builder|
        = render 'property_fields', f: builder

      = link_to_add_fields "<i class=\"icon-plus\"></i> Add property".html_safe, f, :properties, 'btn btn-small'

  .actions
    = btn("Save")
    = link_to 'Cancel', collections_path
