- empty = has_no_data?(@collection, f.object)
%fieldset{class: "property"}
  .field
    = f.label :name
    = f.text_field :name, is_disabled?(empty)
    - unless empty
      = content_tag :p, "Things exists with this property - cannot change name", class: "help"

  .field
    = f.label :help
    = f.text_area :help

  .field
    = f.label :data_type_id
    = f.collection_select :data_type_id, DataType.all, :id, :friendly_name, {prompt: true}, is_disabled?(empty)
    - unless empty
      = content_tag :p, "Things exists with this property - cannot change data type", class: "help"

  .field
    = f.label :hide
    = f.check_box :hide

  = f.fields_for :validations do |builder|
    = render 'validation_fields', f: builder

  = link_to_add_fields "Add validation", f, :validations, 'btn btn-small'

  = link_to_remove_fields "remove", f, 'btn btn-small btn-danger prime-action property-warning'
