%fieldset{class: "property"}
  .field
    = f.label :name
    = f.text_area :name

  .field
    = f.label :data_type_id
    = f.collection_select :data_type_id, DataType.all, :id, :friendly_name, prompt: true

  = link_to_remove_fields "remove", f, 'btn'
