%fieldset{class: "property"}
  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :help
    = f.text_area :help

  .field
    = f.label :data_type_id
    = f.collection_select :data_type_id, DataType.all, :id, :friendly_name, prompt: true

  = f.fields_for :property_validations do |builder|
    = render 'property_validation_fields', f: builder

  = link_to_add_fields "Add validation", f, :property_validations, 'btn btn-small'

  = link_to_remove_fields "remove", f, 'btn btn-small btn-danger prime-action'
