%fieldset{class: "property"}
  .field
    = f.label :validation_type_id
    = f.collection_select :validation_type_id, ValidationType.all, :id, :help, prompt: true

  .field
    = f.label :value
    = f.text_field :value

  = link_to_remove_fields "<i class=\"icon-remove\"></i> remove".html_safe, f, 'btn btn-small btn-danger prime-action'
