= form_for @list, html: { class: 'focus-first' } do |f|
  = errors_for(@list)

  .field
    = f.label :name
    = f.text_field :name

  %fieldset
    %legend Values

    %p.info Drag and drop to re-order

    #list_values
      = f.fields_for :list_values do |builder|
        = render 'list_value_fields', f: builder

      = link_to_add_fields "<i class=\"icon-plus\"></i> Add value".html_safe, f, :list_values, 'btn btn-small'

  .actions
    = btn('Save')
    = link_to 'Cancel', lists_path, class: 'cancel'
