%h1
  Search results
  %span.inline
    = params[:q]

- if @results.nil?
  %p.info
    \- no results - enter a search query or try * for everything
- elsif @results.total == 0
  %p.info
    = "- no results for your search for '#{params[:q]}'"
- else
  %p.info
    = content_tag :p, (page_entries_info @results), class: 'info' if @results.total > WillPaginate.per_page
  - @results.results.each do |thing|
    %article{class: 'result'}
      = link_to thing_path(thing.id) do
        = content_tag :h6, thing.collection_name.try(:singularize)
        / = content_tag :p, truncate(thing_attributes_list(thing).html_safe, length: 255)
        = content_tag :p, thing_attributes_list(thing).html_safe

= will_paginate(@results)
