= markdown(@thing.collection.introduction) if @thing.collection.introduction.present?

= form_for @thing, html: { class: 'focus-first', multipart: true } do |f|
  = errors_for(@thing)
  = f.hidden_field :collection_id
  = render_form_fields(f, @thing.collection.properties.visible)
  .actions
    = btn('Save')
    = link_to 'Cancel', collection_index_path(@thing.collection.slug), class: 'cancel'
