%div{class: 'heading'}
  %h1{class: 'inline'}
    = @collection.name
    %span
      = "(#{@things.total})"
  = link_to "<i class=\"icon-plus\"></i> New #{@collection.name}".html_safe, new_thing_in_collection_path(@collection.slug), class: 'btn prime-action'

= link_to "<i class=\"icon-download-alt\"></i> download for Excel".html_safe, collection_index_path(@collection.slug, format: :xls), class: "btn btn-small btn-secondary" if @things.present?

= content_tag :p, (page_entries_info @things), class: 'info' if @things.total > WillPaginate.per_page

%table
  %tr
    - @collection.properties.visible[0..5].each do |property|
      %th
        = property.name
    %th
      Created by
    %th
  - @things.each do |thing|
    %tr
      - @collection.properties.visible[0..5].each_with_index do |property, i|
        %td
          - if i == 0
            - if property.data_type.name == "File"
              = link_to "Edit", edit_thing_path(thing.id)
              = truncate("#{thing.send(property.slug.to_sym)}", length: 20)
            - else
              = link_to truncate("#{thing.send(property.slug.to_sym)}", length: 20), edit_thing_path(thing.id)
          - else
            = truncate("#{thing.send(property.slug.to_sym)}", length: 20)
      %td
        = thing.username
      %td
        = link_to "<i class=\"icon-remove\"></i>&nbsp;Delete".html_safe, thing_path(thing.id), method: :delete, data: { confirm: 'Are you sure? There is no \'undo\'' }, class: 'btn btn-small btn-danger'

= will_paginate @things
