= content_tag :h1, @collection.name

= link_to "New #{@collection.name.singularize}", new_thing_in_collection_path(@collection.slug.singularize), class: 'btn'

= @collection.things.size

%table
  %tr
    - @collection.properties.each do |property|
      %th
        = property.name
    %th
    %th
  - @collection.things.each do |thing|
    %tr
    - @collection.properties.each do |property|
      %td
        = thing.send(property.slug.to_sym)
    %td
      = link_to 'Edit', edit_thing_path(thing)
    %td
      = link_to 'Destroy', thing, :method => :delete, :data => { :confirm => 'Are you sure?' }



