= content_tag :h1, "Edit #{@thing.collection.name}"

- if @thing.collection.properties.visible.empty?
  %p.info
    \- no visible properties
    = link_to "create one", edit_collection_path(@thing.collection) if admin?
    = content_tag :p, (link_to "cancel", collection_index_path(@thing.collection.slug), class: 'btn')
- else
  = render 'form'
  %p{class: 'info'}
    = "Created by #{@thing.user.fullname} - #{@thing.created_at.to_s(:display)}"
    = "<br>Updated #{@thing.updated_at.to_s(:display)}".html_safe if @thing.updated_at.present?
