= content_tag :h1, setting(:things_title)

= markdown(setting(:things_introduction))

- @collections.each do |collection|
  = content_tag :ol, class: 'tag-list' do
    - if admin?
      = content_tag :li, (link_to "#{collection.name} (#{Thing.where(collection: collection).size})", collection_index_path(collection.slug), class: 'btn')
    - else
      = content_tag :li, (link_to "#{collection.name} (#{Thing.where(collection: collection, user: current_user).size})", collection_index_path(collection.slug), class: 'btn')

- if @collections.empty?
  %p.info
    \- no collections yet
    = link_to "create one", new_collection_path
