%h1 Thing

= link_to "Edit", edit_thing_path(@thing), class: "btn prime-action" if superuser? or (@thing.user == current_user)

%hr

- @thing.collection.properties.each do |property|
  = content_tag :h2, property.name
  = render_thing(@thing, property)
  %hr

= content_tag :h2, "Created"

%p
  = @thing.user.fullname
  = @thing.created_at.to_s(:long)

%hr

- if @collection
  = link_to "<i class=\"icon-plus\"></i> New #{@collection.name.singularize}", new_thing_in_collection_path(@thing.collection.slug.singularize), class: 'btn'
