= form_for @property do |f|
  = errors_for(@property)

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :data_type
    = f.collection_select :data_type, DataType.all, :id, :name
  .actions
    = f.submit 'Save'
