%h1 Listing properties

%table
  %tr
    %th Name
    %th Slug
    %th
    %th
    %th

  - @properties.each do |property|
    %tr
      %td= property.name
      %td= property.slug
      %td= link_to 'Show', property
      %td= link_to 'Edit', edit_property_path(property)
      %td= link_to 'Destroy', property, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Property', new_property_path
