= form_for @validation_type do |f|
  = errors_for(@validation_type)
  %fieldset
    .field
      = f.label :friendly_name
      = f.text_field :friendly_name
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :help
      = f.text_area :help, rows: 4
    .field
      = f.label :requires_value
      = f.check_box :requires_value

  %fieldset
    %h2 Data types
    %p.info Please specify the data types for which this validation may be used

    %ol.multi
      - DataType.all.each do |data_type|
        %li
          %label
            = data_type.friendly_name
            = f.check_box :data_type_ids, { multiple: true }, data_type.id, nil

  .actions
    = btn('Save')
    = link_to 'Cancel', validation_types_path
