%div{class: 'heading'}
  %h1 Listing validation types

  = link_to "<i class=\"icon-plus\"></i> New validation type".html_safe, new_validation_type_path, class: "btn prime-action"

- if @validation_types.empty?
  %p.info
    \- no validation types yet
    = link_to "create one", new_validation_type_path
- else
  %table
    %tr
      %th Friendly Name
      %th Name
      %th Help
      %th

    - @validation_types.each do |validation_type|
      %tr
        %td= link_to validation_type.friendly_name, edit_validation_type_path(validation_type)
        %td= validation_type.name
        %td= validation_type.help
        %td= link_to "<i class=\"fa fa-times\"></i>&nbsp;Delete".html_safe, validation_type, method: :delete, validation: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger'
