= form_for @data_type do |f|
  = errors_for(@data_type)

  .field
    = f.label :friendly_name
    = f.text_field :friendly_name
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :help
    = f.text_area :help, rows: 4
  .actions
    = btn('Save')
    = link_to 'Cancel', data_types_path, class: 'cancel'
