%div{class: 'heading'}
  %h1 Listing data types

  = link_to "<i class=\"icon-plus\"></i> New data type".html_safe, new_data_type_path, class: "btn prime-action"

- if @data_types.empty?
  %p.info
    \- no data types yet
    = link_to "create one", new_data_type_path
- else
  %table
    %tr
      %th Friendly Name
      %th Name
      %th Help
      %th

    - @data_types.each do |data_type|
      %tr
        %td= link_to data_type.friendly_name, edit_data_type_path(data_type)
        %td= data_type.name
        %td= data_type.help
        %td= link_to "<i class=\"icon-remove\"></i> Delete".html_safe, data_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger'
