%h1 Listing data types

= link_to 'New Data type', new_data_type_path, class: "btn prime-action"

%table
  %tr
    %th Friendly Name
    %th Name
    %th Help
    %th

  - @data_types.each do |data_type|
    %tr
      %td= link_to data_type.friendly_name, edit_data_type_path(data_type)
      %td= data_type.name
      %td= data_type.help
      %td= link_to 'Destroy', data_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger'
