= form_for @classification do |f|
  = errors_for(@classification)

  %fieldset
    .field
      = f.label :name
      = f.text_area :name
    .field
      = f.label :slug
      = f.text_area :slug

  %fieldset
    %legend Properties

    #properties
      = f.fields_for :properties do |builder|
        = render 'property_fields', f: builder
      = link_to_add_fields "Add property", f, :properties

  .actions
    = f.submit 'Save'
