!!! 5
%html
  %head
  %title
    Thinginator
    = " (#{controller.controller_name}##{controller.action_name})" if dev
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  %body{class: "app"}
    %header{role: "banner"}
      %nav{role: "navigation"}
        %ol
          = content_tag :li, (link_to "Things", things_path)
          = content_tag :li, (link_to "Collections", collections_path)
          = content_tag :li, (link_to "Data types", data_types_path)
    %main
      = flash.notice
      = yield
