!!! 5
%html
  %head
  %title
    Thinginator
    = " (#{controller.controller_name}##{controller.action_name})" if dev?
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  %body{class: "app"}
    %header{role: "banner"}
      - if superuser? or admin?
        %nav{role: "navigation"}
          %ol
            = content_tag :li, (link_to "Things", things_path)
            = content_tag :li, (link_to "Collections", collections_path) if admin?
            = content_tag :li, (link_to "Data types", data_types_path) if superuser?
            = content_tag :li, (link_to "Validation types", validation_types_path) if superuser?
            = content_tag :li, (link_to "Users", users_path) if superuser?
    %main
      - if current_user
        = current_user.username
        = link_to "sign out", sign_out_path, method: :delete
      = flash.notice
      = flash.alert
      = yield
    #loading
